body,html
{
	font-size: 62.5%;
	height: 100%;
	width: 100%;

	background-image:url('../../Public/Images/Home_Image.jpg');
  background-repeat:no-repeat;
  background-position:115% 100%;
  background-size: 50% 100%;

  margin-bottom: 100%;

}

.name_icon
{
	width: 75%;
}


.about
{
	font-weight: bold;
    font-size: 1.2rem;
    line-height: 1;
    font-family: TungstenMedium,sans-serif;
    -webkit-letter-spacing: 0.5em;
    -moz-letter-spacing: 0.5em;
    -ms-letter-spacing: 0.5em;
    letter-spacing: 0.5em;
    cursor: pointer;
}

#abt::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

#abt:hover::after {
    width: 100%;
}

.slogan
{
  width: 60%;
	margin-top: 15%;
	font-weight: 900;
  font-family: Sequel, sans-serif;
  text-transform: uppercase;
  font-size: 9.9rem;
  line-height: 0.9;
  letter-spacing: -1px;
}

.carousel_box
{
	background-color: black;
}

#mycarousel
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}

.top_name
{
	margin-left: 10%;
	font-weight: bold;
	color: black;
	letter-spacing: -10%;
	display: none;
	transition: linear 2s;
	font-size: 3rem;
    font-family: Sequel, sans-serif;
    text-size-adjust: 100%;
    animation: all ease 2s;
}

.menu a {
  display: block;
  position: relative;
  overflow: hidden;
}
 
.menu a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-110%);
}

.menu a span {
  transition: transform 0.2s ease-out;
}
 
.menu a:hover span:first-child {
  transform: translateY(100%);
}
 
.menu a:hover span:last-child {
  transform: none;
}

.qual_head
{
  font-size: 15rem;
  font-family: Sequel, sans-serif;
  text-size-adjust: 100%;
  line-height: 0.9;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 10%;
}

.qual_name
{
  margin-top: -1%;
  font-weight: 800;
  font-size: 5rem;
  line-height: 0.9;
  font-family: Sequel, sans-serif;
  text-size-adjust: 100%;
  letter-spacing: -2px;
}

.qual_text
{
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.8;
    font-family: 'SourceSerifPro', serif;
}

.qual
{
  margin-left: 5%;
  width: 90%;
}

.caro
{
  height: 650px;
}

img
{
  height: 650px;
  object-fit: contain;
}